html {
    font-family: "Montserrat", sans-serif;
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
    --primary: #00897b;
    --primary-hover: #00796b;
    --primary-focus: rgba(0, 137, 123, 0.125);
    --primary-inverse: #fff;
}

img {
    aspect-ratio: 1/1;
    object-fit: cover;
    height: fit-content;
}

p {
    font-size: 16px;
}

.carousel {
    display: flex;
    justify-content: flex-start;
    transition: 0.3s ease-in-out;
    gap: 30px;
}

article {
    position: relative;
    flex-shrink: 0;
}

.hidden {
    display: none !important;
}

.next,
.prev {
    cursor: pointer;
}