body>div {
    display: flex;
    flex-wrap: wrap;
}

body>div>a {
    width: 25%;
}

a>.nft_img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.nft_alone {
    display: flex;
    gap: 30px;
}

.nft_alone img {
    width: 40%;
}

.nft_alone>div {
    width: 55%;
}